@{
    ViewData["Title"] = "Student Dashboard";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome Student!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Student Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-nine w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            <div class="db-info">
                                <h3>04/06</h3>
                                <h6>All Courses</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-six w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-file-alt"></i>
                            </div>
                            <div class="db-info">
                                <h3>40/60</h3>
                                <h6>All Projects</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-9">
                 <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title">Learning Activity</h5>
                    </div>
                    <div class="card-body">
                        <div id="apexcharts-area"></div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright © 2025 Preskool.</p>
    </footer>
</div>