@using SIMS_FPT.Models
@model FeeModel
@{
    ViewData["Title"] = "Edit Fee"; Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Edit Fees</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Accounts" asp-action="Fees">Fees</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form asp-controller="Accounts" asp-action="EditFee" method="post">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Fee Info</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Student ID</label><input asp-for="Id" class="form-control"
                                    readonly style="background:#e9ecef"></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Name</label><input asp-for="StudentName" class="form-control"
                                    required></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Gender</label>
                                <select asp-for="Gender" class="form-control">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Type</label>
                                <select asp-for="FeesType" class="form-control">
                                    <option>Exam Fees</option>
                                    <option>Mess Fees</option>
                                    <option>Transport</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Amount</label><input asp-for="Amount" class="form-control"
                                    type="number"></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Paid Date</label><input asp-for="PaidDate" type="date"
                                    class="form-control" value="@Model.PaidDate.ToString("yyyy-MM-dd")"></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Status</label>
                                <select asp-for="Status" class="form-control">
                                    <option>Paid</option>
                                    <option>Unpaid</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a asp-controller="Accounts" asp-action="Fees" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>