@* @using SIMS_FPT.Models
@model FeesStructureModel
@{
    ViewData["Title"] = "Add Fees"; Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Fees</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="List">Fees</a></li>
                        <li class="breadcrumb-item active">Add Fees</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form asp-action="Add" method="post">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Fees Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Fees ID</label><input asp-for="Id" class="form-control"
                                    required></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Fees Type</label>
                                <select asp-for="FeesName" class="form-control">
                                    <option>Select Type</option>
                                    <option>Class Test</option>
                                    <option>Exam Fees</option>
                                    <option>Hostel Fees</option>
                                    <option>Transport Fees</option>
                                    <option>Mess Fees</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Class</label>
                                <select asp-for="Class" class="form-control">
                                    <option value="">Select Class</option>
                                    @if (ViewBag.ClassList != null)
                                    {
                                        foreach (var className in (List<string>)ViewBag.ClassList)
                                        {
                                            <option value="@className">@className</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Amount</label><input asp-for="Amount" class="form-control"
                                    type="number"></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>Start Date</label><input asp-for="StartDate" type="date"
                                    class="form-control"></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group"><label>End Date</label><input asp-for="EndDate" type="date"
                                    class="form-control"></div>
                        </div>
                        <div class="col-12"><button type="submit" class="btn btn-primary">Submit</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> *@