@using SIMS_FPT.Models
@model ExpenseModel
@{
    ViewData["Title"] = "Add Expense"; Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Expense</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Accounts" asp-action="Expenses">Expenses</a></li>
                        <li class="breadcrumb-item active">Add</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Accounts" asp-action="AddExpense" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Expense Info</span></h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group"><label>ID</label><input asp-for="Id" class="form-control"
                                            required></div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group"><label>Item Name</label><input asp-for="ItemName"
                                            class="form-control" required></div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group"><label>Quality</label><input asp-for="ItemQuality"
                                            class="form-control"></div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group"><label>Amount</label><input asp-for="Amount"
                                            class="form-control" type="number"></div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group"><label>Source</label><input asp-for="PurchaseSource"
                                            class="form-control"></div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group"><label>Date</label><input asp-for="PurchaseDate" type="date"
                                            class="form-control"></div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group"><label>By</label><input asp-for="PurchaseBy"
                                            class="form-control"></div>
                                </div>
                                <div class="col-12"><button type="submit" class="btn btn-primary">Submit</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>